/* inline theme config จุดนี้ใน globals.css จะผูกตัวแปรกับ Tailwind utility */
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #1a1a1a; 
  --color-secondary: #404040;
  --color-accent: #666666;
}
